<div class="report-widget">
    <h3><?= e($title); ?></h3>
    <?=
        $this->controller->makeHintPartial($this->getId('hint'), [
            'title' => e($title),
            'content' => e($description),
        ]);
    ?>
    <?php if (!isset($error)): ?>
        <iframe
            id="<?= e($this->getId('iframe')) ?>"
            width="100%"
            src="<?= e($iframeUrl); ?>"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            onload="iFrameResize()"
        ></iframe>
    <?php else: ?>
        <div class="callout callout-warning">
            <div class="content"><?= e($error) ?></div>
        </div>
    <?php endif ?>
</div>
<script>
    iFrameResize({
        log: false, // Disable console logging
        resizedCallback: function(messageData){ // Callback fn when resize is received
            $(window).trigger('resize');
        },
        tolerance: 10,
        heightCalculationMethod: 'lowestElement',
        interval: 1000,
    }, "#<?= $this->getId('iframe') ?>");
</script>
