<div class="report-widget matomo-report-widget">
    <h3><?= e(trans($this->property('title'))) ?></h3>

    <div class="matomo-report-widget-body">
        <?php if (!empty($error)): ?>
            <div class="callout callout-warning">
                <div class="content"><?= e($error) ?></div>
            </div>
        <?php elseif (empty($chartDatasets)): ?>
            <div class="callout callout-info">
                <div class="content"><?= e(trans('winter.matomo::lang.reportwidgets.visits_over_time.no_data')) ?></div>
            </div>
        <?php else: ?>
            <div
                data-control="chart-line"
                data-time-mode="days"
                data-chart-options="<?= e($chartOptions ?? '') ?>"
                style="height: 200px">
                <?php foreach ($chartDatasets as $dataset): ?>
                <span
                    data-chart="dataset"
                    data-set-color="<?= e($dataset['color']) ?>"
                    data-set-data="<?= e($dataset['data']) ?>"
                    data-set-label="<?= e($dataset['label']) ?>">
                </span>
                <?php endforeach ?>
            </div>
        <?php endif ?>

        <div class="matomo-report-widget-footer">
            <?= $widgetMeta ?? '' ?>

            <div class="matomo-report-widget-actions">
                <?= $refreshButton ?? '' ?>
            </div>
        </div>
    </div>
</div>
